@{
    ViewData["Title"] = ResourceManagerProp.GetString("Notifications_Notifications", CultureInfoProp);
}

@if (DataAccess.Load() != null && DataAccess.Load().Any())
{
    @foreach (var notification in DataAccess.Load())
    {
        <div class="content post">
            <h1 class="h_white">@notification.Title</h1>
            <a>@notification.Description</a>
            <br><br>
            <button class="input_btn" onclick="location.href='/Notification/@notification.Title'" type="button">@ResourceManagerProp.GetString("Notifications_Edit", CultureInfoProp)</button>
            <button class="input_btn" onclick="location.href='/NotificationDelete/@notification.Title'" type="button">@ResourceManagerProp.GetString("Notifications_Delete", CultureInfoProp)</button>
        </div>
        <br>
    }
}
else
{
    ResourceManagerProp.GetString("Notifications_HaveNot", CultureInfoProp);
    <h1 class="h_white">@ResourceManagerProp.GetString("Notifications_HaveNot", CultureInfoProp)<a class="link" asp-action="Index">@ResourceManagerProp.GetString("Notifications_HaveNot1", CultureInfoProp)</a>.</h1>
}

<script>
setTimeout(function(){
    window.location.reload(1);
}, 1000);
</script>