@{
    ViewData["Title"] = ResourceManagerProp.GetString("Notifications_Notifications", CultureInfoProp);
}

@if (DataAccess.LoadNotifications() != null && DataAccess.LoadNotifications().Count > 0)
{
    @foreach (var notification in DataAccess.LoadNotifications())
    {
        <div class="content post">
            <h1 class="h_white">@notification.Title</h1>
            <a>@notification.Description</a>
            <br><br>
            <button class="input_btn" onclick="location.href='/Notification/@notification.Slug'" type="button">@ResourceManagerProp.GetString("Notifications_Edit", CultureInfoProp)</button>
            <button class="input_btn" onclick="location.href='/NotificationDelete/@notification.Slug'" type="button">@ResourceManagerProp.GetString("Notifications_Delete", CultureInfoProp)</button>
        </div>
        <br>
    }
}
else
{
    ResourceManagerProp.GetString("Notifications_HaveNot", CultureInfoProp);
    <h1 class="h_white">@ResourceManagerProp.GetString("Notifications_HaveNot", CultureInfoProp)<a class="link" asp-action="Index">@ResourceManagerProp.GetString("Notifications_HaveNot1", CultureInfoProp)</a>.</h1>
}