@{
    var notificationModel = DataAccess.Load(HomeController.NotificationTitle);
    ViewData["Title"] = notificationModel.Title;

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="NotificationUpdate">
        <table>
            <tr>
                <td>@ResourceManagerProp.GetString("Index_Title", CultureInfoProp)</td>
                <td>
                    <textarea type="text" name="Title">@notificationModel.Title</textarea>
                </td>
                <td class="time-container">@ResourceManagerProp.GetString("Hours", CultureInfoProp)</td>
                <td>
                    <input class="time" type="number" name="Hours" step="1" min="0" value="@notificationModel.Hours"/>
                </td>
            </tr>
            <tr>
                <td>@ResourceManagerProp.GetString("Index_Description", CultureInfoProp)</td>
                <td>
                    <textarea type="text" name="Description">@notificationModel.Description</textarea>
                </td>
                <td>@ResourceManagerProp.GetString("Minutes", CultureInfoProp)</td>
                <td>
                    <input class="time" type="number" name="Minutes" step="1" min="0" value="@notificationModel.Minutes"/>
                </td>
            </tr>
            <tr>
                <td>@ResourceManagerProp.GetString("Index_Iterations", CultureInfoProp)</td>
                <td>
                    <input class="iterations" type="number" name="Iterations" step="1" min="1" value="@notificationModel.Iterations"/>
                </td>
                <td>@ResourceManagerProp.GetString("Seconds", CultureInfoProp)</td>
                <td>
                    <input class="time" type="number" name="Seconds" step="1" min="0" value="@notificationModel.Seconds"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="input_btn" type="submit" value="@ResourceManagerProp.GetString("Index_Submit", CultureInfoProp)"/>
                </td>
            </tr>
        </table>
    </form>
}