@{ //TODO: Save hours, minutes and seconds in database and convert them to milliseconds.
    var notificationModel = DataAccess.LoadNotifications("Slug", HomeController.NotificationSlug)[0];
    ViewData["Title"] = notificationModel.Title;
    
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="NotificationUpdate">
        <table>
            <tr>
                <td>@ResourceManagerProp.GetString("Index_Title", CultureInfoProp): </td>
                <td>
                    <textarea type="text" name="Title">@notificationModel.Title</textarea>
                </td>
            </tr>
            <tr>
                <td>@ResourceManagerProp.GetString("Index_Description", CultureInfoProp): </td>
                <td>
                    <textarea type="text" name="Description">@notificationModel.Description</textarea>
                </td>
            </tr>
            <tr>
                <td>@ResourceManagerProp.GetString("Hours", CultureInfoProp): </td>
                <td>
                    <textarea type="text" name="Delay">@notificationModel.Hours</textarea>
                </td>
            </tr>
            <tr>
                <td>@ResourceManagerProp.GetString("Minutes", CultureInfoProp): </td>
                <td>
                    <textarea type="text" name="Delay">@notificationModel.Minutes</textarea>
                </td>
            </tr>
            <tr>
                <td>@ResourceManagerProp.GetString("Seconds", CultureInfoProp): </td>
                <td>
                    <textarea type="text" name="Delay">@notificationModel.Seconds</textarea>
                </td>
            </tr>
            <tr>
                <td>@ResourceManagerProp.GetString("Index_Iterations", CultureInfoProp): </td>
                <td>
                    <textarea type="text" name="Iterations">@notificationModel.Iterations</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input class="input_btn" type="submit" value="Submit"/>
                </td>
            </tr>
        </table>
    </form>
}